<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cover Template">
    <meta name="author" content="Your Name">
    <link rel="icon" href="/favicon.ico">

    <title>Cover Template</title>

    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/cover.css}">
</head>

<body class="d-flex flex-column min-vh-100">  <!-- Makes body stack elements vertically -->

<!-- Header -->
<header class="masthead mb-auto" th:replace="~{page_layout/header :: header}">
</header>

<!-- Main Content -->
<main role="main" class="flex-grow-1 d-flex align-items-center justify-content-center" layout:fragment="main-content">
    <h1>This is the main content area</h1>
</main>

<!-- Footer -->
<footer class="mastfoot mt-auto" th:replace="~{page_layout/footer :: footer}">
</footer>

</body>
</html>